BasedOnStyle: WebKit
ColumnLimit: 120

BreakBeforeBraces: Attach

Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: Empty

NamespaceIndentation: All
CompactNamespaces: true
FixNamespaceComments: true 

BreakBeforeBraces: Custom
BraceWrapping:   
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
